body{ 
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
 }
 H1{
     font-size: 50px; 
     color: orange;
    }
.orange-color {
    color: orange;
}
h2 {
    font-size: 40;
    color: blue;
}
.P{ 
text-align: left;
text-size-adjust: 50px;
}
section{
    display: flex;
}
.half-width{
width: 100px;
}
.full-width img {
    width: 100px;
    }
    .full-width{
        padding-left: 5px;
        box-sizing: content-box;
    }
